
:root {
  --background1: #b3d8f0;
  --background2: #3F88C5;
  --background3: #e3f2fd;
  --border: #0d3c5b;
  --darkFont: #1a1a1a;
  --lightFont: #ffffff;
  --pop: #f28f3b;
}


.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}


.task-card-container,
.note-card-container {
  display: flex;
  flex-direction: column;
  flex: 0;
  flex-wrap: wrap;

  width: 100%;

  padding: 8px 16px;

  background-color: var(--background3);

  border: 1px solid var(--border);
  border-radius: 8px;

  font-size: 18px;
}

.note-header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--border);

}

.note-card-title {
  font-size: 24px; 
}

.delete-note {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all ease-in-out 2ms;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.delete-note > img {
  width: 20px;
  height: 20px;
}

.delete-note:hover {
  background-color: var(--pop);
}

.delete-note:active {
  transform: scale(0.98);
}

.note-card-description {
  margin-top: 8px;
}

.section-one {
  display: flex;
  justify-content: space-between;
}  

.task-title-check {
  display: flex;
  gap: 16px;
}

#task-complete {
  padding: 8px;
  color: red;
}

.task-interior-container1 {
  display: flex;
  justify-content: space-between;
  width: 250px;

  gap: 16px;
}

.task-interior-container2 {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.section-two {
  display: flex;
  flex:1;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;


  border-top: 1px solid var(--border);
  margin-top: 8px;
  padding-top: 6px;
}

.section-two > p {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* flex: 1; */
  max-width: 95%;
}

.delete-task {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all ease-in-out 2ms;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.invisible {
  display: none;
}

.dropdown {
  cursor: pointer;
  padding: 0px 16px;
  border-radius: 8px;

  transition: ease-in-out all 2ms;
  outline: 1px solid var(--border)
}

.dropdown:hover {
  background-color: var(--background2);
  transform: scale(1.01);
}

.emptyProject {
  font-size: 24px;
}